
.heading {
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    font-size:36px;
    color:black;
    text-align:center;
}
/* .heading2 {
    text-align:center;
    color:pink;
} */

.bg {
    background-color:gray;
}

 /* .listindex { 
    background-color: light gray;
    font-size: 28px;
} */
.img {
    height: 20%;
    width: 20%;
    display:block;
    margin-left: auto;
    margin-right: auto;

}

p {
    text-align: center;
    font-size: 18px;
    color:blueviolet;
}

.list {
    text-align: center;
}

.list.unorded {
    font-size: 25px;
    color:orange;

}
 /* .orded {
     font-size: 28px;
     font-weight:400;
     color:purple;
 } */

 .link {
     font-size: 20px;
     font-weight: 700;
     display:block;
     text-align:center;

 }